* {
    box-sizing: border-box;
}

body {
    width: 70%;
    margin: 0 auto;
    color: #F26DF9;
    background-color: #5158BB;
    font-family: 'Cardo', serif;
    background-image: url("../images/gameboard-bg.jpg");
    background-size: cover;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #F26DF9;
    text-shadow: 2px 2px 5px #000000;
}

.gameboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 8px 16px 0 #000000;
    margin: 20px auto;
    background-color: #5158BB;
}

.emoji-board {
    position: relative;
    width: 70%;
    padding: 10px;
}
.emojis {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.emoji {
    font-size: 100px;
    width: 20%;
    margin: 2%;
    background-color: transparent;
    border: none;
}

.emoji:hover {
    box-shadow: 0 8px 16px 3px #EB4B98;
}

.game-info {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

button, select {
    cursor: pointer;
    font-size: 24px;
}

.modal-box {
    display: none;
    background-color: #043565;
    border: 3px #F26DF9 solid;
    width: 50%;
    position: absolute;
    text-align: center;
    height: auto;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
}

.continue-button {
    padding: 10px;
}

.eliminate {
    opacity: .3;
}

.restart-button {
    padding: 5px 15px;
    margin: 10px 5px;
    color: #02394A;
    background-color: #F26DF9;
    box-shadow: 0 8px 16px 0 #02394A;
}

.restart-button:hover {
    background-color: #EB4B98;
}

.guess-emoji {
    text-shadow: 1px 1px 2px #02394A;
}

.guess-emoji p {
    font-size: 60px;
    margin: 0;
}


.scoreboard {
    margin-top: 24px;
    text-shadow: 1px 1px 2px #02394A;
}

.ask-section {
    text-align: center;
}

.ask-button, .guess-button, select {
    padding: 5px 15px;
    margin: 10px 5px;
    color: #02394A;
    background-color: #F26DF9;
    box-shadow: 0 8px 16px 0 #000000;
}

.ask-button:hover {
    background-color: #EB4B98;
}

.guess-button:hover {
    background-color: #EB4B98;
}

select:hover {
    background-color: #EB4B98;
}

.continue-button:hover {
    background-color: #EB4B98;
}