body {
    width: 75vw;
    margin: 0 auto;
}

.emojis {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
}

.emoji {
    font-size: 100px;
    width: 20%;
    margin: 2%;
}

button, select {
    cursor: pointer;
}